/* CSS para o menu */
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111;
}

/* CSS para o formulário de login */
#loginForm {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #090909;
    border-radius: 5px;
}

#loginForm h1 {
    text-align: center;
}

#loginForm label {
    display: block;
    margin-bottom: 10px;
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #101010;
    border-radius: 5px;
}

#loginForm button[type="submit"],
#loginForm button[type="button"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px; /* Espaçamento entre botões */
    background-color: #1b1a19;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#loginForm button[type="submit"]:hover,
#loginForm button[type="button"]:hover {
    background-color: #060606;
}



/* Media Queries */
@media (max-width: 600px) {
    body {
        margin: 10px;
        font-size: 14px;
    }

    h1 {
        font-size: 18px;
    }

    form {
        padding: 15px;
    }

    button {
        padding: 8px 10px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    body {
        margin: 20px;
        font-size: 16px;
    }

    h1 {
        font-size: 22px;
    }
}

@media (min-width: 901px) {
    body {
        margin: 30px;
        font-size: 18px;
    }

    h1 {
        font-size: 24px;
    }
}
