/* CSS para o menu */
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111;
}

/* CSS para o formulário de login */
#loginForm {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#loginForm h1 {
    text-align: center;
}

#loginForm label {
    display: block;
    margin-bottom: 10px;
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#loginForm button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#loginForm button[type="submit"]:hover {
    background-color: #111;
}





/* CSS para o formulário de login adm */
#adminLoginForm{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#adminLoginForm h1 {
    text-align: center;
}

#adminLoginFormlabel {
    display: block;
    margin-bottom: 10px;
}

#adminLoginForm input[type="text"],
#adminLoginForm input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#adminLoginForm button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#adminLoginForm button[type="submit"]:hover {
    background-color: #111;
}

/* Media Queries */
@media (max-width: 600px) {
    body {
        margin: 10px;
        font-size: 14px;
    }

    h1 {
        font-size: 18px;
    }

    form {
        padding: 15px;
    }

    button {
        padding: 8px 10px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    body {
        margin: 20px;
        font-size: 16px;
    }

    h1 {
        font-size: 22px;
    }
}

@media (min-width: 901px) {
    body {
        margin: 30px;
        font-size: 18px;
    }

    h1 {
        font-size: 24px;
    }
}
